@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: darkslategray;
}

h1 {
    margin-top: 30px;
    color: greenyellow;
}

button {
    cursor: pointer;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 4px;
}

.calc {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 325px;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid rgb(83, 83, 83);
    box-shadow: 2px -2px 15px 5px rgb(58, 57, 57);
}

.calc div {
    display: flex;
}

.operator,
.clear,
.erase,
.digit,
.equal {
    flex: 1;
    height: 50px;
}

.clear,
.erase {
    background-color: lightcoral;
    font-size: 16px;
    font-weight: 600;
}

.clear:hover,
.erase:hover {
    background-color: crimson;
    color: white;
}

.operator {
    background-color: rgb(143, 180, 248);
}

.operator:hover {
    background-color: aqua;
}

.digit:hover {
    background-color: lightgray;
}

.equal:hover {
    background-color: greenyellow;
}

.equal {
    background-color: lime;
    font-weight: 600;
}

.calc-display {
    background-color: black;
    color: lime;
    text-align: end;
    font-size: 30px;
    font-weight: 700;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: 4px solid darkslategray;
}

.brand {
    font-size: 12px;
    font-style: italic;
    color: darkslategray;
}